*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
site/code/*

.DS_Store

#ignore drush-aliases - policy files should be suffixed with the *.inc extension
files/default/drush/*.php